$btn-border-color: #3C4C5B;
$btn-arrow-color: #3C4C5B;

.circle-btn--container {
cursor: pointer;
&:hover {
.circle-btn--outer {
transform: translateX(-8px) translateZ(0);
}
.circle-arrow--icon {
transform: translateX(-8px);
}
.circle-arrow--bar {
transform: scaleX(.55);
}
}
}

.circle-btn--outer {
mix-blend-mode: invert;
cursor: pointer;
width: 120px;
height: 120px;
border: 3px solid $btn-border-color;
border-radius: 50%;
position: relative;
transition:
transform .7s cubic-bezier(1,0,.25,1),
opacity .7s cubic-bezier(.5,0,0,1),
-webkit-transform .7s cubic-bezier(.5,0,0,1);
}

.circle-arrow--icon {
position: absolute;
top: calc(50% - 4px);
left: calc(50% - 4px);
width: 75%;
height: 8px;
transform: translateX(0) translateZ(0);
transition: transform .7s cubic-bezier(1,0,.25,1);
will-change: transform;
}

.circle-arrow--bar {
width: 200px;
height: 3px;
width: 100%;
background-color: $btn-arrow-color;
position: absolute;
top: 3px;
transform: translateZ(0);
transform-origin: 0 0;
transition:
transform .7s cubic-bezier(1,0,.25,1),
opacity .7s cubic-bezier(1,0,.25,1);
will-change: transform opacity;
}

$triangleSize: 6px;
.circle-arrow--triangle {
border-bottom: solid $triangleSize transparent;
border-right: solid $triangleSize transparent;
border-left: solid $triangleSize $btn-border-color;
border-top: solid $triangleSize $btn-border-color;
transform: rotate(-45deg) translateX(-$triangleSize);
transform-origin: calc(50% - 6px) 0;
transition: .3s ease;
width: 0;
height: 0;
}

// clean shit up
body {
min-height: 95vh;
display: flex;
align-items: center;
justify-content: center;
background-color: #EDD87B;
transition: .5s ease-out;

&.invert {
background: rgba(#EDD87B, .35);
}
}