/*  Variables
    Nesting
    Partials
    Modules
    Mixins
    Extend/Inheritance
    Operators */

$font-stack:    'Roboto', sans-serif;
$font-accent: 'Roboto Condensed', sans-serif;
$text-color:    #b3b3b3;

$background-color:  #000000;
$test-color-1:  #ecbbbb;

$z-tier4: 100;
$z-tier3: 15;
$z-tier2: 10;
$z-tier1: 5;
$z-tier0: 0;

$h1-size: 5em;      /* gallery title */
$h2-size: 3em;      /* card title */
$h3-size: 2em;     /* gallery support text */
$h4-size: 1em;     /* card support text */
$p-size:  1.2em;

$duration-text: .8s;
$duration-image: .7s;
$duration-page: 1s;
$bezier: cubic-bezier(0.5, 0.2, 0.15, 1);
//$bezier: ease-out;


/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
* {
  -ms-overflow-style: none;
}




body {
    height: auto;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    font-family:    $font-stack;
    
    color:          $text-color;
    background:     $background-color;
}

h1 {
    font-size: $h1-size;
    font-weight: 400;
    //font-variant-caps: all-small-caps;
    color: white;
}

h2 {
    font-size: $h2-size;
    //font: font-style font-variant font-weight $h2-size/line-height font-family;
}

h3 {
    font-size: $h3-size;
    font-family:  $font-accent;
    font-weight: 400;
}

h4 {
    font-size: $h4-size;
    font-family: $font-accent;
    font-weight: 400;
    letter-spacing: .25em;
}

h5 {
    font-size: $h2-size;
}

p {
    font-size: $p-size;
    font-weight: 300;
}

a {
    color: rgb(125, 190, 255);
    font-size: #{$h4-size - 0.3};
    font-family: $font-accent;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: none;
}
a:visited {
  color: rgb(90, 90, 90);
}

#grid {
    display: grid;
    grid-template-columns: repeat(12, 6em);
    grid-template-rows: repeat(7,6em);
    align-self: center;
}



/* ANNOUNCEMENT */
/* ANNOUNCEMENT */
/* ANNOUNCEMENT */
.lockScrolling {
    overflow: hidden;
}

.show {
    visibility: visible !important;
    opacity: 1 !important;
}

.heyThere {
    visibility: hidden;
    opacity: 0;

    z-index: $z-tier4+100;
    position: absolute;

    width: 100vw;
    height: 100vh;

    color: grey;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.8) 100%);

    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    overflow: visible;

    transition: opacity 1s $bezier;

    h2 {
        visibility: inherit !important;
        opacity: inherit !important;
    }
    p {
        visibility: inherit !important;
        opacity: inherit !important;

        margin: 0 auto;
        padding: 1em;
        max-width: 25em;
    }
}

.continueBtn {
    position: relative;
    color: grey;

    h3 {
        font-size: 2em;
        font-family: $font-accent;
        font-weight: 700;
        letter-spacing: .15em;
        font-variant: all-small-caps;
    }    

    svg {
        position: relative;
        top: -4.6em;
        left: -.2em;
        margin-top: 0;
        width: 16.5em;
        height: 3em;
        overflow: visible;

        rect {
            width: inherit;
            height: inherit;

            fill: rgba(255, 255, 255, 0);
            stroke: grey;

            stroke-width: 0;
            stroke-dasharray: 8em;
            stroke-dashoffset: 0;

            transition: all 1s $bezier;    
            
            &:hover {
                stroke-dasharray: 39em;
                stroke-width:.2em
            }
        }
    }
}



/* GALLERY */
/* GALLERY */
/* GALLERY */

.section-div {
    height: 100vh;
    width: 30vw;
    margin: 0;

    background: $background-color;

    order: 1;
}

.galleryContainer {
    left: 30vw;

    height: 100%;
    width:  70vw;
    margin: 0;

 //   overflow: hidden;

    display: flex;
    flex-direction: row;

    order: 2;
}

.gallerySlide {
    //visibility: hidden;
    opacity: 0;
    transition: clip-path $duration-image $bezier;
                
    will-change: clip-path;
} 
.transitionPage {
    //position: absolute !important;
    background-color: white;

    transform: scaleX(10) translateX(-100vw);
    opacity: 0 !important;
    filter: brightness(2000);

    transition: transform #{$duration-page / 2} cubic-bezier(1,-0.01, 1, 1) 300ms,
                filter #{$duration-page + 3} ease,
                opacity #{$duration-page / 1} ease 500ms;
}

$img-width: 68vw;
.animateClipPath {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%) !important;
}
.inactiveInitial {
    opacity: 0;
}

#top {
    //visibility: visible !important;
    opacity: 1;

    z-index: $z-tier2;
    position: absolute;

    //left: 30vw; OLD spacing
    left: 32vw;
    top: 0;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    will-change: clip-path;
}
#next {
    //visibility: visible !important;
    opacity: 1;

    z-index: $z-tier0;
    position: absolute;

    //left: 30vw; OLD spacing
    left: 32vw;    
    top:0;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    will-change: clip-path;
}

.galleryImg {
    height: 100vh;
    width: $img-width;
    object-fit: cover;
    overflow:hidden;

    filter:brightness(70%);
    cursor: help;
}

//text format

.textContainer {
    display: inline-flex;

    .inactiveInitial {
        opacity: 0;
    }
    .inactiveFinal {
        opacity: 0;
        margin-top: 8px;
    }

    .galleryText {
        z-index: $z-tier3;

        position: absolute;
        margin-right: 25vw; 
        top: 30vh;
        left: 8vw;

        height: auto;
        width: auto;

        display: flex;
        flex-direction: column;
        justify-content: top;

        transition: opacity $duration-text $bezier;
    }

    $transition-attr: all;
    $delay-attr1: all;
    $delay-attr2: opacity;
    h1 {
        margin: 0;
        padding: 0.0em 0 0 -7px;
        transition: $duration-text $bezier;
        transition-delay: .6s;
    }

    h3 {
        margin: 0;
        padding: 3em 0 0 0;
        transition: $duration-text $bezier;
        transition-delay: 1s;
    }

    h4 {
        margin: 0 0 .3em 0;
        padding-left: 0.3em;

        transition: $duration-text $bezier;
        transition-delay: .5s;
    }
        
    p {
        margin: 0;
        padding: 1em 0 0 0;
        width: 16em;
        font-size: $p-size;

        transition: $duration-text $bezier;
        transition-delay: 1.2s;
    }

    span {
        transition: $duration-text $bezier;
        transition-delay: 2s;
    }
}

.colorShift {
    z-index: $z-tier0;
    height:105vh;
    width:100vw;
    top: 100vh;

    position: absolute;

    background: white;
}





/* CARD LAYOUT */
/* CARD LAYOUT */
/* CARD LAYOUT */


.flexContainer {
    position: absolute;
    top: 110vh;

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;

    h2 {
        //margin: 0 auto;
        //width: 9em;
        //font-size: 1.5em;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        align-self: flex-start;
        transform: rotate(180deg);
    }
}

$flexText-width: 60vw;

.card {
    z-index: $z-tier1;

    width: $flexText-width;
    height: auto;
    //margin: 5em;
    margin-left: 10vw;
    margin-top: -18em;
    //align-self: center;

    overflow: hidden;
    //box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


    p {
        margin: 1em 2em 0 0;
        font-size: 1.3em;
        //width: #{$flexText-width/2};
        column-count: 2;
    }
    img {
        //width: #{$flexText-width/1};///1.5
        width:100%;
        margin: 0 0 1em 0;
        order: 0;

        object-fit: contain;
    }
}

.flexText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}

.section-2 {
    z-index: $z-tier1;
    width: 42vw;
    height: auto;
    align-self: center;
    margin-top: 12em;
    text-align: center;
}

.mediaLinks {
    display: flex;
    justify-content: space-between;

    margin: 0;
	width: 100%;
	height: 10em;
	
    p {
        font-weight: bold;
        cursor: pointer;
    }
    div {
        height: auto;
        width: auto;
        transition: transform .4s cubic-bezier(0, 1, 0.35, 1.5);
    }
    div:hover {
         transform: rotate3d(0.5, 1, 0, 25deg);
    }
}




/* BUTTONS */
/* BUTTONS */
/* BUTTONS */
/* BUTTONS */
/* BUTTONS */

$btn-border-color: #ffffff;

$btn-size: 4em;
$btn-weight-px: 3px;

.circle-btn--container {
    z-index: $z-tier4;
    position: absolute;
    top: 89vh;
    opacity: .6;

    cursor: pointer;
    
        &:hover {
            .circle-btn--outer {
                transform: translateX(-8px) translateZ(0);
            }
            .circle-arrow--icon {
                transform: translateX(-8px);
            }
            .circle-arrow--bar {
                transform: scaleX(.55);
            }
        }
}

.left {
    left: 28vw;
}
.right {
    left: 44vw;
    transform: rotate(180deg);
}


.circle-btn--outer {
    width: $btn-size;
    height: $btn-size;
    border: 0px solid $btn-border-color;
    border-radius: 50%;
    transition:     transform .7s cubic-bezier(1,0,.25,1),      opacity .7s cubic-bezier(.5,0,0,1),
    transform .7s cubic-bezier(.5,0,0,1);
}

.circle-arrow--icon {
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    width: 75%;
    height: 8px;
    transform: translateX(0) translateZ(0);
    transition: transform .7s cubic-bezier(1,0,.25,1);
    will-change: transform;
}

.circle-arrow--bar {
    width: 200px;
    height: $btn-weight-px;
    width: 100%;
    background-color: $btn-border-color;
    position: absolute;
    top: $btn-weight-px;
    transform: translateZ(0);
    transform-origin: 0 0;
    transition:
    transform .7s cubic-bezier(1,0,.25,1),
    opacity .7s cubic-bezier(1,0,.25,1);
    will-change: transform opacity;
}

$triangleSize: 6px;
.circle-arrow--triangle {
    border-bottom: solid $triangleSize transparent;
    border-right: solid $triangleSize transparent;
    border-left: solid $triangleSize $btn-border-color;
    border-top: solid $triangleSize $btn-border-color;
    transform: rotate(-45deg) translateX(-$triangleSize);
    transform-origin: calc(50% - 6px) 0;
    transition: .3s ease;
    width: 0;
    height: 0;
}

.btnExpandProj {
    position: absolute;
    left: 76vw;
    top: 86vh;
    z-index: $z-tier4;
    color: white;

    h3 {
        font-size: 2em;
        font-family: $font-accent;
        font-weight: 700;
        letter-spacing: .15em;
        font-variant: all-small-caps;
    }    

    svg {
        z-index: $z-tier4;

        position: relative;
        top: -4.6em;
        left: -.9em;
        margin-top: 0;
        width: 16.5em;
        height: 3em;
        overflow: visible;

        rect {
            width: inherit;
            height: inherit;

            fill: rgba(255, 255, 255, 0);
            stroke: white;

            stroke-width: 0;
            stroke-dasharray: 8em;
            stroke-dashoffset: 0;

            transition: all 1s $bezier;    
            
            &:hover {
                stroke-dasharray: 39em;
                stroke-width:.2em
            }
        }
    }
}

#about {
    position: absolute;
    left: 2vw;
    top: 90vh;
    z-index: $z-tier4;

    font-size: $h4-size;
    font-family: $font-accent;
    font-weight: 400;
    letter-spacing: .15em;
    font-variant: all-small-caps;


}








/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */


@media only screen 
  // and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    $img-height: 75vh; 

    * {
        //overflow: visible;
    }
        body{
            flex-direction: column;
            background:     $background-color;
        }

        h1 {
            font-size: #{$h1-size - 2};
        }

        h2 {
            font-size: #{$h2-size - 1.5};
        }

        p {
            font-size: #{$h2-size - 2.1};
        }

        .galleryContainer {
            height: $img-height;
            width:  100vw;
            margin: 0;

            overflow: hidden;

            order: 1;
        }
        .galleryImg {
            height: $img-height;
            width: 100vw;

            filter: brightness(50%) contrast(80%);
        }
        #top {
            left:0;
        }
        #next {
            left:0;
        }

        .galleryText {
            top: 22vh !important;
            left: 0 !important;
            margin: 0 12vw;
            width: 18em !important;
        }
         
        .textContainer {
            text-align: center;

            h3 {
                padding: 1em 0 0 0;
            }
            p {
                width: inherit;
            }
        }

        .section-div {
            height: #{100-$img-height};
            width: 100vw;
            margin: 0;

            background: $background-color;

            order: 2;
        }


        /* BUTTONS */
        /* BUTTONS */
        /* BUTTONS */

        $btn-size2: 40px;
        .btn--flex {
            order: 3;
            
            position: relative;
            margin: 0 17.5vw;
            top: #{-(100-$img-height)/1.5};
            width: 65vw;
            
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            .btnExpandProj {
                position: absolute;
                top: -11vh;
                left: 0;
                margin: 0;
            }
            .circle-btn--container {
                top: 0; //52vh;
                position: relative;

                .circle-btn--outer {            
                    width: $btn-size2;
                    height: $btn-size2;
                }
            }
        }
        .left {
            left: 0; //5vw;
        }
        .right {
            left: 0; //72vw;
        }


        /* CARD LAYOUT */
        /* CARD LAYOUT */
        /* CARD LAYOUT */

        $text-margin: 10px;

        .colorShift {
            height: 100vh;
        }
        
        .flexContainer {

        }

        .card {
            width:100vw;
            flex-direction: column;
            margin: 0;

            h2 {
                
            }
            p {
                column-count: 1;
            }
            img {
                order: 1;

                object-fit: contain;
                height: auto;
                //width: 100%;
                align-self: center;
            }
        }

        .flexText {
            padding: 2em;
            order: 2;

            width: 100%;
        }

        #about {
            //top: 80vh;
            width: auto;
        }


    }

/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */