/*  Variables
    Nesting
    Partials
    Modules
    Mixins
    Extend/Inheritance
    Operators */
/* gallery title */
/* card title */
/* gallery support text */
/* card support text */
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
* {
  -ms-overflow-style: none;
}

body {
  height: auto;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  color: #b3b3b3;
  background: #000000;
}

h1 {
  font-size: 5em;
  font-weight: 400;
  color: white;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

h4 {
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  letter-spacing: .25em;
}

h5 {
  font-size: 3em;
}

p {
  font-size: 1.2em;
  font-weight: 300;
}

a {
  color: #7dbeff;
  font-size: 0.7em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  text-decoration: none;
}

a:visited {
  color: #5a5a5a;
}

#grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (6em)[12];
      grid-template-columns: repeat(12, 6em);
  -ms-grid-rows: (6em)[7];
      grid-template-rows: repeat(7, 6em);
  -ms-grid-row-align: center;
      align-self: center;
}

/* ANNOUNCEMENT */
/* ANNOUNCEMENT */
/* ANNOUNCEMENT */
.lockScrolling {
  overflow: hidden;
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
}

.heyThere {
  visibility: hidden;
  opacity: 0;
  z-index: 200;
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: grey;
  background: white;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.8) 100%);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: visible;
  -webkit-transition: opacity 1s cubic-bezier(0.5, 0.2, 0.15, 1);
  transition: opacity 1s cubic-bezier(0.5, 0.2, 0.15, 1);
}

.heyThere h2 {
  visibility: inherit !important;
  opacity: inherit !important;
}

.heyThere p {
  visibility: inherit !important;
  opacity: inherit !important;
  margin: 0 auto;
  padding: 1em;
  max-width: 25em;
}

.continueBtn {
  position: relative;
  color: grey;
}

.continueBtn h3 {
  font-size: 2em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: .15em;
  font-variant: all-small-caps;
}

.continueBtn svg {
  position: relative;
  top: -4.6em;
  left: -.2em;
  margin-top: 0;
  width: 16.5em;
  height: 3em;
  overflow: visible;
}

.continueBtn svg rect {
  width: inherit;
  height: inherit;
  fill: rgba(255, 255, 255, 0);
  stroke: grey;
  stroke-width: 0;
  stroke-dasharray: 8em;
  stroke-dashoffset: 0;
  -webkit-transition: all 1s cubic-bezier(0.5, 0.2, 0.15, 1);
  transition: all 1s cubic-bezier(0.5, 0.2, 0.15, 1);
}

.continueBtn svg rect:hover {
  stroke-dasharray: 39em;
  stroke-width: .2em;
}

/* GALLERY */
/* GALLERY */
/* GALLERY */
.section-div {
  height: 100vh;
  width: 30vw;
  margin: 0;
  background: #000000;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.galleryContainer {
  left: 30vw;
  height: 100%;
  width: 70vw;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.gallerySlide {
  opacity: 0;
  -webkit-transition: -webkit-clip-path 0.7s cubic-bezier(0.5, 0.2, 0.15, 1);
  transition: -webkit-clip-path 0.7s cubic-bezier(0.5, 0.2, 0.15, 1);
  transition: clip-path 0.7s cubic-bezier(0.5, 0.2, 0.15, 1);
  transition: clip-path 0.7s cubic-bezier(0.5, 0.2, 0.15, 1), -webkit-clip-path 0.7s cubic-bezier(0.5, 0.2, 0.15, 1);
  will-change: clip-path;
}

.transitionPage {
  background-color: white;
  -webkit-transform: scaleX(10) translateX(-100vw);
          transform: scaleX(10) translateX(-100vw);
  opacity: 0 !important;
  -webkit-filter: brightness(2000);
          filter: brightness(2000);
  -webkit-transition: opacity 1s ease 500ms, -webkit-transform 0.5s cubic-bezier(1, -0.01, 1, 1) 300ms, -webkit-filter 4s ease;
  transition: opacity 1s ease 500ms, -webkit-transform 0.5s cubic-bezier(1, -0.01, 1, 1) 300ms, -webkit-filter 4s ease;
  transition: transform 0.5s cubic-bezier(1, -0.01, 1, 1) 300ms, filter 4s ease, opacity 1s ease 500ms;
  transition: transform 0.5s cubic-bezier(1, -0.01, 1, 1) 300ms, filter 4s ease, opacity 1s ease 500ms, -webkit-transform 0.5s cubic-bezier(1, -0.01, 1, 1) 300ms, -webkit-filter 4s ease;
}

.animateClipPath {
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%) !important;
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%) !important;
}

.inactiveInitial {
  opacity: 0;
}

#top {
  opacity: 1;
  z-index: 10;
  position: absolute;
  left: 32vw;
  top: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  will-change: clip-path;
}

#next {
  opacity: 1;
  z-index: 0;
  position: absolute;
  left: 32vw;
  top: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  will-change: clip-path;
}

.galleryImg {
  height: 100vh;
  width: 68vw;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  cursor: help;
}

.textContainer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.textContainer .inactiveInitial {
  opacity: 0;
}

.textContainer .inactiveFinal {
  opacity: 0;
  margin-top: 8px;
}

.textContainer .galleryText {
  z-index: 15;
  position: absolute;
  margin-right: 25vw;
  top: 30vh;
  left: 8vw;
  height: auto;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-transition: opacity 0.8s cubic-bezier(0.5, 0.2, 0.15, 1);
  transition: opacity 0.8s cubic-bezier(0.5, 0.2, 0.15, 1);
}

.textContainer h1 {
  margin: 0;
  padding: 0.0em 0 0 -7px;
  -webkit-transition: 0.8s cubic-bezier(0.5, 0.2, 0.15, 1);
  transition: 0.8s cubic-bezier(0.5, 0.2, 0.15, 1);
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

.textContainer h3 {
  margin: 0;
  padding: 3em 0 0 0;
  -webkit-transition: 0.8s cubic-bezier(0.5, 0.2, 0.15, 1);
  transition: 0.8s cubic-bezier(0.5, 0.2, 0.15, 1);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.textContainer h4 {
  margin: 0 0 .3em 0;
  padding-left: 0.3em;
  -webkit-transition: 0.8s cubic-bezier(0.5, 0.2, 0.15, 1);
  transition: 0.8s cubic-bezier(0.5, 0.2, 0.15, 1);
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.textContainer p {
  margin: 0;
  padding: 1em 0 0 0;
  width: 16em;
  font-size: 1.2em;
  -webkit-transition: 0.8s cubic-bezier(0.5, 0.2, 0.15, 1);
  transition: 0.8s cubic-bezier(0.5, 0.2, 0.15, 1);
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.textContainer span {
  -webkit-transition: 0.8s cubic-bezier(0.5, 0.2, 0.15, 1);
  transition: 0.8s cubic-bezier(0.5, 0.2, 0.15, 1);
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.colorShift {
  z-index: 0;
  height: 105vh;
  width: 100vw;
  top: 100vh;
  position: absolute;
  background: white;
}

/* CARD LAYOUT */
/* CARD LAYOUT */
/* CARD LAYOUT */
.flexContainer {
  position: absolute;
  top: 110vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: auto;
}

.flexContainer h2 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card {
  z-index: 5;
  width: 60vw;
  height: auto;
  margin-left: 10vw;
  margin-top: -18em;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card p {
  margin: 1em 2em 0 0;
  font-size: 1.3em;
  -webkit-column-count: 2;
          column-count: 2;
}

.card img {
  width: 100%;
  margin: 0 0 1em 0;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.flexText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}

.section-2 {
  z-index: 5;
  width: 42vw;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 12em;
  text-align: center;
}

.mediaLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  width: 100%;
  height: 10em;
}

.mediaLinks p {
  font-weight: bold;
  cursor: pointer;
}

.mediaLinks div {
  height: auto;
  width: auto;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0, 1, 0.35, 1.5);
  transition: -webkit-transform 0.4s cubic-bezier(0, 1, 0.35, 1.5);
  transition: transform 0.4s cubic-bezier(0, 1, 0.35, 1.5);
  transition: transform 0.4s cubic-bezier(0, 1, 0.35, 1.5), -webkit-transform 0.4s cubic-bezier(0, 1, 0.35, 1.5);
}

.mediaLinks div:hover {
  -webkit-transform: rotate3d(0.5, 1, 0, 25deg);
          transform: rotate3d(0.5, 1, 0, 25deg);
}

/* BUTTONS */
/* BUTTONS */
/* BUTTONS */
/* BUTTONS */
/* BUTTONS */
.circle-btn--container {
  z-index: 100;
  position: absolute;
  top: 89vh;
  opacity: .6;
  cursor: pointer;
}

.circle-btn--container:hover .circle-btn--outer {
  -webkit-transform: translateX(-8px) translateZ(0);
          transform: translateX(-8px) translateZ(0);
}

.circle-btn--container:hover .circle-arrow--icon {
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
}

.circle-btn--container:hover .circle-arrow--bar {
  -webkit-transform: scaleX(0.55);
          transform: scaleX(0.55);
}

.left {
  left: 28vw;
}

.right {
  left: 44vw;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.circle-btn--outer {
  width: 4em;
  height: 4em;
  border: 0px solid #ffffff;
  border-radius: 50%;
  -webkit-transition: opacity 0.7s cubic-bezier(0.5, 0, 0, 1), -webkit-transform 0.7s cubic-bezier(1, 0, 0.25, 1), -webkit-transform 0.7s cubic-bezier(0.5, 0, 0, 1);
  transition: opacity 0.7s cubic-bezier(0.5, 0, 0, 1), -webkit-transform 0.7s cubic-bezier(1, 0, 0.25, 1), -webkit-transform 0.7s cubic-bezier(0.5, 0, 0, 1);
  transition: transform 0.7s cubic-bezier(1, 0, 0.25, 1), opacity 0.7s cubic-bezier(0.5, 0, 0, 1), transform 0.7s cubic-bezier(0.5, 0, 0, 1);
  transition: transform 0.7s cubic-bezier(1, 0, 0.25, 1), opacity 0.7s cubic-bezier(0.5, 0, 0, 1), transform 0.7s cubic-bezier(0.5, 0, 0, 1), -webkit-transform 0.7s cubic-bezier(1, 0, 0.25, 1), -webkit-transform 0.7s cubic-bezier(0.5, 0, 0, 1);
}

.circle-arrow--icon {
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  width: 75%;
  height: 8px;
  -webkit-transform: translateX(0) translateZ(0);
          transform: translateX(0) translateZ(0);
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(1, 0, 0.25, 1);
  transition: -webkit-transform 0.7s cubic-bezier(1, 0, 0.25, 1);
  transition: transform 0.7s cubic-bezier(1, 0, 0.25, 1);
  transition: transform 0.7s cubic-bezier(1, 0, 0.25, 1), -webkit-transform 0.7s cubic-bezier(1, 0, 0.25, 1);
  will-change: transform;
}

.circle-arrow--bar {
  width: 200px;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 3px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: opacity 0.7s cubic-bezier(1, 0, 0.25, 1), -webkit-transform 0.7s cubic-bezier(1, 0, 0.25, 1);
  transition: opacity 0.7s cubic-bezier(1, 0, 0.25, 1), -webkit-transform 0.7s cubic-bezier(1, 0, 0.25, 1);
  transition: transform 0.7s cubic-bezier(1, 0, 0.25, 1), opacity 0.7s cubic-bezier(1, 0, 0.25, 1);
  transition: transform 0.7s cubic-bezier(1, 0, 0.25, 1), opacity 0.7s cubic-bezier(1, 0, 0.25, 1), -webkit-transform 0.7s cubic-bezier(1, 0, 0.25, 1);
  will-change: transform opacity;
}

.circle-arrow--triangle {
  border-bottom: solid 6px transparent;
  border-right: solid 6px transparent;
  border-left: solid 6px #ffffff;
  border-top: solid 6px #ffffff;
  -webkit-transform: rotate(-45deg) translateX(-6px);
          transform: rotate(-45deg) translateX(-6px);
  -webkit-transform-origin: calc(50% - 6px) 0;
          transform-origin: calc(50% - 6px) 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  width: 0;
  height: 0;
}

.btnExpandProj {
  position: absolute;
  left: 76vw;
  top: 86vh;
  z-index: 100;
  color: white;
}

.btnExpandProj h3 {
  font-size: 2em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: .15em;
  font-variant: all-small-caps;
}

.btnExpandProj svg {
  z-index: 100;
  position: relative;
  top: -4.6em;
  left: -.9em;
  margin-top: 0;
  width: 16.5em;
  height: 3em;
  overflow: visible;
}

.btnExpandProj svg rect {
  width: inherit;
  height: inherit;
  fill: rgba(255, 255, 255, 0);
  stroke: white;
  stroke-width: 0;
  stroke-dasharray: 8em;
  stroke-dashoffset: 0;
  -webkit-transition: all 1s cubic-bezier(0.5, 0.2, 0.15, 1);
  transition: all 1s cubic-bezier(0.5, 0.2, 0.15, 1);
}

.btnExpandProj svg rect:hover {
  stroke-dasharray: 39em;
  stroke-width: .2em;
}

#about {
  position: absolute;
  left: 2vw;
  top: 90vh;
  z-index: 100;
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  letter-spacing: .15em;
  font-variant: all-small-caps;
}

/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
@media only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #000000;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.5em !important;
  }
  p {
    font-size: 0.9em;
  }
  .galleryContainer {
    height: 75vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .galleryImg {
    height: 75vh;
    width: 100vw;
    -webkit-filter: brightness(50%) contrast(80%);
            filter: brightness(50%) contrast(80%);
  }
  #top {
    left: 0;
  }
  #next {
    left: 0;
  }
  .galleryText {
    top: 16vh !important;
    left: 0 !important;
    margin: 0 12vw;
    width: 18em !important;
  }
  .textContainer {
    text-align: center;
  }
  .textContainer * {
    -webkit-transition-delay: 0s !important;
            transition-delay: 0s !important;
  }
  .textContainer h3 {
    position: absolute;
    top: 55vh;
    left: 33vw;
  }
  .textContainer p {
    width: inherit;
  }
  .section-div {
    height: 25vh;
    width: 100vw;
    margin: 0;
    background: #000000;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  /* BUTTONS */
  /* BUTTONS */
  /* BUTTONS */
  .btn--flex {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: relative;
    margin: 0 6.5vw;
    top: -18.66667vh;
    width: 87vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .btn--flex .btnExpandProj {
    position: absolute;
    top: -17vh;
    left: 20vw;
    margin: 0;
  }
  .btn--flex .btnExpandProj svg {
    top: -3.4em;
    left: -0.9em;
    width: 12.5em;
    height: 2em;
  }
  .btn--flex .circle-btn--container {
    top: 0;
    position: relative;
  }
  .btn--flex .circle-btn--container .circle-btn--outer {
    width: 40px;
    height: 40px;
  }
  .left {
    left: 0;
  }
  .right {
    left: 0;
  }
  /* CARD LAYOUT */
  /* CARD LAYOUT */
  /* CARD LAYOUT */
  .colorShift {
    height: 100vh;
    visibility: hidden !important;
  }
  .flexContainer h2 {
    margin: .8em 1.5em;
    -webkit-writing-mode: horizontal-tb !important;
        -ms-writing-mode: lr-tb !important;
            writing-mode: horizontal-tb !important;
    text-orientation: upright;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .card {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .card p {
    -webkit-column-count: 1;
            column-count: 1;
  }
  .card img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -o-object-fit: contain;
       object-fit: contain;
    height: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .flexText {
    padding: 2em;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  #about {
    width: auto;
    visibility: hidden !important;
  }
}

/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/*# sourceMappingURL=2_gallery_style.css.map */