/*  Variables
    Nesting
    Partials
    Modules
    Mixins
    Extend/Inheritance
    Operators */

$font-stack: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$text-color: rgb(55, 53, 47);

$background-color: #ffffff;

$h1-size: 2.5rem; // 40px; // 2.5rem;
$h2-size: 1.875rem; // 30px; // 3rem;
$h3-size: 1.5rem; // 24px; // 2rem;
$p-size: 1rem; // 16px; // 1rem;
$p-sm-size: 0.875rem; // 14px; // 0.875rem;



/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
* {
    -ms-overflow-style: none;
}


canvas {
    z-index: -900;
    //opacity: .5;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

body {
    height: auto;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    font-family: $font-stack;
    line-height: 1.5rem;
    color: $text-color;
    background: $background-color;
}

h1 {
    font-size: $h1-size;
    font-weight: 700;
    //font-variant-caps: all-small-caps;
    color: $text-color;
    line-height: 1.2;
    //margin: 3em 0 0 3.15em;

    span {
        opacity: .5;
    }
}

h2 {
    font-size: $h2-size;
    font-weight: 600;
    line-height: 1.3;
}

h3 {
    font-size: $h3-size;
    font-weight: 600;
    line-height: 1.3;
}

p {
    font-size: $p-size;
    font-weight: 400;
    //margin-bottom: 16px;
}

b {
    font-weight: 600;
}

.p-header {
    font-size: $p-sm-size;
}

a {
    color: rgb(55, 53, 47);
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    text-overflow: ellipsis;
    font-weight: 500;
    line-height: 1.3;
    border-bottom: 1px solid rgba(55, 53, 47, 0.347);
    width: fit-content;
    margin: 3px;

    // box-sizing: border-box;

    :hover {
        background-color: aqua;
    }
}

.arrow {
    ::before {
        font-family: 'Material Icons';
        // font-weight: 400;
        content: "\f8ce";
        transform: translateY(2px);
        display: inline-block;
        padding: 0 0;
    }
}


/* GALLERY PAGE */


#mouse {
    position: fixed;
    height: 20px;
    width: 20px;
    background: rgba(255, 255, 255, 0);
    z-index: 100;
    transition: 2s cubic-bezier(.05, .3, .5, .9);
    will-change: margin-top, margin-left;
}

#galleryLink {
    opacity: 0;
    //display: none;
    position: absolute;
    margin: 6em 0 0 8em;
    transition: opacity 1s ease-out;
}

#aboutText {
    position: absolute;
    margin: 10rem 0 0 29rem;
    max-width: 23rem;

    display: none;
    opacity: 0;
    transition: opacity 1s ease-out;
}

#projectContainer {
    display: inline-flex;
    flex-direction: column;
    margin: 6em 0 0 8em;

    * {
        transition: opacity 1s ease-in;
    }
}


/* PROJECT PAGES */

header {
    color: rgba(55, 53, 47, 0.347);
    padding: 16px;
    position: fixed;
    z-index: 999;

    a {
        font-size: $p-sm-size;
        font-weight: 400;

        ::before {
            content: "";
        }
    }
}

footer {}

main {
    max-width: 700px;
    align-self: center;
    margin: 150px 40px 230px 40px;
}

aside {
    background-color: rgb(241, 241, 239);

    max-width: 100%;
    padding: 16px 26px 16px 16px;
    margin: 30px 0px;

    display: flex;
    flex-direction: row;

    ::before {
        font-size: 1.3125rem;
        content: "\1f4a1";
        display: inline-block;
        margin: 1px 14px 0px 0px
    }
}

.caption {
    font-size: $p-sm-size;
    color: rgba(55, 53, 47, 0.65);
    margin-top: -17px;

    a {
        font-size: inherit;
        font-weight: inherit;
    }
}

img {
    max-width: 100%;
    margin: 0 0 16px 0;
}

iframe,
video {
    /* width: 327px;
    height: 184px; */
    margin: 0;
    align-self: self-start;
    margin: 0 0 16px 0;
    width: 100%;
    height: 25rem;
}

.cp_embed_iframe {
    //codepen
    width: 100%;
    height: 33rem;
}

.sketchfab {
    width: 100%;
    height: 25rem;
}

.flex-row {
    max-width: 100%;

    display: flex;
    flex-direction: row;
    gap: 45px;
    //flex-wrap: wrap;

    align-items: center;
    justify-content: space-between;

    overflow: hidden;

    p {
        width: 330px;
        flex: 1 1 60%;
    }

    img {
        max-width: 40%;
        //flex: 2 2 60%;
    }

    div {
        display: flex;
        flex-direction: column;
        //align-items: center;
        justify-content: center;
        flex: 1 2 10px;
        align-self: flex-start;

        p {
            width: 100%;
        }

        img {
            max-width: 70%;
        }
    }
}

.jsAdjust {
    img {
        max-width: 100% !important;
        object-fit: cover;
    }
}

.p-half {
    max-width: 330px;
}

.p-full {
    max-width: 710px;
}






/* PORTRAIT QUERY */


@media (max-width: 800px) {

    /* and (orientation: portrait) */
    html {
        font-size: 16px;
    }

    * {
        //color: red;
    }

    img {
        object-fit: cover;
    }


    /* GALLERY PAGE */

    #projectContainer {
        margin: 5rem 0 0 2rem;
    }

    #galleryLink {
        margin: 3rem 0 0 3rem;
    }

    #aboutText {
        margin: 6rem 0 0 3rem;
        max-width: 80%;
    }


    /* PROJECT PAGES */

    header {
        width: 100%;
    }

    main {
        align-self: auto;
    }

    .flex-row {
        flex-direction: column;

        div {
            max-height: 75vh;
            max-width: 100%;
            overflow: visible;
        }

        p {
            width: 100%;
            max-width: 100%;
        }
    }

    .jsAdjust {
        display: block !important;

        div {
            max-height: 75vh;
            max-width: 100%;
            overflow: visible;
        }

        img {
            max-width: 100% !important;
            object-fit: contain;
        }
    }
}