// Magic parallax mixins
// Magic parallax mixins
// Magic parallax mixins
// Magic parallax mixins

$parallax-perspective : 1 !default;
$parallax-element     : "body" !default;
$parallax-ios         : true !default;

@mixin parallax-init(
  $perspective  : $parallax-perspective,
  $element      : $parallax-element,
  $parallax-ios : $parallax-ios
  ) {
  @if $element == "body" {
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  }
  #{$element} {
    overflow: auto;
    perspective: $perspective * 1px;
    transform-style: preserve-3d;
    // Allows for smooth scrolling but disables parallax effects.
    @if $parallax-ios == false {
      -webkit-overflow-scrolling: touch;
    }
    // Preserve 3D
    &, * {
      transform-style: preserve-3d;
    }
  }
}

@mixin parallax(
  $distance    : 0,
  $perspective : $parallax-perspective
  ) {
  transform:
    translateZ($distance * $perspective * 1px)
    scale(abs($distance - 1));
  //z-index: $distance * 1000;
}

// End of magic parallax mixins
// End of magic parallax mixins
// End of magic parallax mixins
// End of magic parallax mixins


@include parallax-init;



$font-stack:    'Roboto', sans-serif;
$text-color:    #b3b3b3;

$background-color:  #000000;
$test-color-1:  #ecbbbb;

$z-tier4: 100;
$z-tier3: 15;
$z-tier2: 10;
$z-tier1: 5;
$z-tier0: 0;

$h1-size: 5em;      /* gallery title */
$h2-size: 2.5em;      /* card title */
$h3-size: 2em;     /* gallery support text */
$h4-size: 1em;     /* card support text */
$p-size:  .9em;

$duration-text: .8s;
$duration-image: .7s;
$bezier: cubic-bezier(0.5, 0.2, 0.15, 1);
//$bezier: ease-out;

body {
    height: auto;
    width: 100vw;
    margin: 0;

    font-family:    $font-stack;
    
    color:          $text-color;
    background:     $background-color;
}

// font: font-style font-variant font-weight $h2-size/line-height font-family;
h1 {
    font-size: $h1-size;
    font-weight: 400;
    color: white;
    margin:0;

    position: fixed;
    left: 10vw;
    top: 30vh;
}
h2 {
    font-size: $h2-size;
    margin:0;
}
h3 {
    z-index: $z-tier0;
    font-size: 2em;
    font-family: Roboto Condensed;
    font-weight: 700;
    letter-spacing: .15em;
    font-variant: all-small-caps;
    margin: 1em;
    
    //position: absolute;
    left: 77vw;
    top: 10vh;

    transition: all 1s;
}
h4 {
    font-size: $h4-size;
    font-family: Roboto Condensed;
    font-weight: 400;
    letter-spacing: .25em;
    margin: 0;

    position: fixed;
    left: 45vw;
    top: 50vh;
}
p {
    font-size: $p-size;
    font-weight: 300;
    margin:0;
}

.galleryNav {
    position: absolute;
    left: 76vw;
    top: 10vh;

    svg {
        z-index: $z-tier4;

        position: relative;
        top: -4.5em;
        margin-top: 0;
        width: 12em;
        height: 3em;
        overflow: visible;

        rect {
            width: inherit;
            height: inherit;

            fill: rgba(255, 255, 255, 0);
            stroke: $text-color;

            stroke-width: 0;
            stroke-dasharray: 8em;
            stroke-dashoffset: 0;

            transition: all 1s $bezier;    
            
            &:hover {
                stroke-dasharray: 30em;
                stroke-width:.2em
            }
        }
    }
}


/* SCROLLING CONTENT */
/* SCROLLING CONTENT */
/* SCROLLING CONTENT */
/* SCROLLING CONTENT */

.contentScroll {
    position: absolute;
    //top: 75vh;
    //left: 20vw;
    // compensate for parallax
    top: 162.5vh;
    left: 25vw;

    background-color: white;

    width: 80vw;
    height: 300vh;

    box-shadow: 0 0 10em 8em black;

    @include parallax(-.5);
}
.card {
    // @include parallax(-.05);
}
.flexText {
    @include parallax(-.3);
}
img {
    @include parallax(-.2);
}
h1 {
    @include parallax(-1);
}
h4 {
    @include parallax(-.85);
}



/* CARD LAYOUT */
/* CARD LAYOUT */
/* CARD LAYOUT */
/* CARD LAYOUT */

.flexContainer {
    position: absolute;
    top: 80vh;

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
}

.card {
    order: 3;
    z-index: 1;

    width: 78vw;
    height: auto;
    margin: 5em;
    align-self: center;

    overflow: hidden;
    //box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h2 {

    }
    p {

    }
    img {
        height: 25em;
        order:1;
    }
}

.flexText {
    display: flex;
    flex-direction: column;

    width: 13em;
    padding: 8em 4em 0 12em;

    order:2;
}




.inactiveInitial {
    //transform-style:preserve-3d;
    transition: all 1s;
    opacity: 0;
    //@include parallax(-.5);
}