html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  overflow: auto;
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

body, body * {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* gallery title */
/* card title */
/* gallery support text */
/* card support text */
body {
  height: auto;
  width: 100vw;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #b3b3b3;
  background: #000000;
}

h1 {
  font-size: 5em;
  font-weight: 400;
  color: white;
  margin: 0;
  position: absolute;
  left: 10vw;
  top: 30vh;
}

h2 {
  font-size: 2.5em;
  margin: 0;
}

h3 {
  z-index: 0;
  font-size: 2em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: .15em;
  font-variant: all-small-caps;
  margin: 1em;
  left: 77vw;
  top: 10vh;
  -webkit-transition: all 1s;
  transition: all 1s;
}

h4 {
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  letter-spacing: .25em;
  margin: 0;
  position: absolute;
  left: 45vw;
  top: 50vh;
}

h5 {
  font-size: 0.8em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  letter-spacing: .15em;
  margin: 0;
  text-transform: uppercase;
}

p {
  font-size: 1.2em;
  font-weight: 300;
  margin: 0;
  line-height: 1.35em;
}

a {
  color: #7dbeff;
  font-size: 0.7em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  text-decoration: none;
}

a:visited {
  color: #5a5a5a;
}

.galleryNav {
  position: absolute;
  left: 76vw;
  top: 10vh;
}

.galleryNav svg {
  z-index: 100;
  position: relative;
  top: -4.5em;
  margin-top: 0;
  width: 12em;
  height: 3em;
  overflow: visible;
}

.galleryNav svg rect {
  width: inherit;
  height: inherit;
  fill: rgba(255, 255, 255, 0);
  stroke: #b3b3b3;
  stroke-width: 0;
  stroke-dasharray: 8em;
  stroke-dashoffset: 0;
  -webkit-transition: all 1s cubic-bezier(0.5, 0.2, 0.15, 1);
  transition: all 1s cubic-bezier(0.5, 0.2, 0.15, 1);
}

.galleryNav svg rect:hover {
  stroke-dasharray: 30em;
  stroke-width: .2em;
}

/* SCROLLING CONTENT */
/* SCROLLING CONTENT */
/* SCROLLING CONTENT */
/* SCROLLING CONTENT */
.contentScroll {
  position: absolute;
  top: 162.5vh;
  left: 25vw;
  background-color: white;
  width: 80vw;
  height: 300vh;
  -webkit-box-shadow: 0 0 10em 8em black;
          box-shadow: 0 0 10em 8em black;
  -webkit-transform: translateZ(-0.5px) translateX(0) scale(1.5);
          transform: translateZ(-0.5px) translateX(0) scale(1.5);
}

.contentScrollPost {
  -webkit-transition: opacity 1s ease 500ms, -webkit-transform 0.5s cubic-bezier(1, -0.01, 1, 1) 300ms, -webkit-filter 4s ease;
  transition: opacity 1s ease 500ms, -webkit-transform 0.5s cubic-bezier(1, -0.01, 1, 1) 300ms, -webkit-filter 4s ease;
  transition: transform 0.5s cubic-bezier(1, -0.01, 1, 1) 300ms, filter 4s ease, opacity 1s ease 500ms;
  transition: transform 0.5s cubic-bezier(1, -0.01, 1, 1) 300ms, filter 4s ease, opacity 1s ease 500ms, -webkit-transform 0.5s cubic-bezier(1, -0.01, 1, 1) 300ms, -webkit-filter 4s ease;
}

.flexText {
  -webkit-transform: translateZ(-0.3px) translateX(0) scale(1.3);
          transform: translateZ(-0.3px) translateX(0) scale(1.3);
}

img, video {
  -webkit-transform: translateZ(-0.2px) translateX(0) scale(1.2);
          transform: translateZ(-0.2px) translateX(0) scale(1.2);
}

h1 {
  -webkit-transform: translateZ(-1px) translateX(0) scale(2);
          transform: translateZ(-1px) translateX(0) scale(2);
}

h4 {
  -webkit-transform: translateZ(-0.85px) translateX(0) scale(1.85);
          transform: translateZ(-0.85px) translateX(0) scale(1.85);
}

/* CARD LAYOUT */
/* CARD LAYOUT */
/* CARD LAYOUT */
/* CARD LAYOUT */
.flexContainer {
  position: absolute;
  top: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: auto;
}

.card {
  z-index: 1;
  width: 100vw;
  height: auto;
  margin: 5em 0;
  -ms-flex-item-align: center;
      align-self: center;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card img, .card video {
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
  width: inherit;
}

.flexTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: inherit;
}

.flexTwo img, .flexTwo video {
  width: auto;
  margin: 1em;
}

.flexText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 35em;
  padding: 10em 1em;
  margin: 0 auto;
  text-align: center;
}

.inactiveInitial {
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
.section-2 {
  z-index: 5;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 42vw;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 12em;
  text-align: center;
}

.section-2 h4 {
  -webkit-perspective: none;
          perspective: none;
  position: relative;
  width: 100%;
  top: 0 !important;
  left: 0 !important;
}

.mediaLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  width: 100%;
  height: 10em;
}

.mediaLinks p {
  font-weight: bold;
  cursor: pointer;
}

.mediaLinks div {
  -webkit-perspective: none;
          perspective: none;
  height: auto;
  width: auto;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0, 1, 0.35, 1.5);
  transition: -webkit-transform 0.4s cubic-bezier(0, 1, 0.35, 1.5);
  transition: transform 0.4s cubic-bezier(0, 1, 0.35, 1.5);
  transition: transform 0.4s cubic-bezier(0, 1, 0.35, 1.5), -webkit-transform 0.4s cubic-bezier(0, 1, 0.35, 1.5);
}

.mediaLinks div:hover {
  -webkit-transform: rotate3d(0.5, 1, 0, 0.015deg);
          transform: rotate3d(0.5, 1, 0, 0.015deg);
}

/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
@media only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #000000;
  }
  h1 {
    font-size: 3em;
    left: -2vw;
    top: -8vh;
  }
  h2 {
    font-size: 1.5em;
    margin: 0;
  }
  h3 {
    font-size: 1.75em;
    left: 77vw;
    top: 10vh;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  h4 {
    font-size: 1em;
    position: absolute;
    left: -6vw;
    top: -10vh;
  }
  h5 {
    font-size: 0.8em;
  }
  p {
    font-size: 1.2em;
  }
  .galleryNav {
    left: 0vw;
    top: -1vh;
  }
  .flexContainer {
    top: 30vh;
  }
  .card img {
    max-height: -webkit-fit-content !important;
    max-height: -moz-fit-content !important;
    max-height: fit-content !important;
    width: 100vw !important;
  }
  .flexText {
    padding: 2em 1em;
  }
  .flexTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    width: inherit;
  }
  .flexTwo img, .flexTwo video {
    margin: 0 0;
  }
  .section-2 {
    width: 85vw;
  }
}

/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/*# sourceMappingURL=3_project_style.css.map */