// Magic parallax mixins
// Magic parallax mixins
// Magic parallax mixins
// Magic parallax mixins

$parallax-perspective : 1 !default;
$parallax-element     : "body" !default;
$parallax-ios         : false !default;

@mixin parallax-init(
  $perspective  : $parallax-perspective,
  $element      : $parallax-element,
  $parallax-ios : $parallax-ios
  ) {
  @if $element == "body" {
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  }
  #{$element} {
    overflow: auto;
    perspective: $perspective * 1px;
    transform-style: preserve-3d;
    // Allows for smooth scrolling but disables parallax effects.
    @if $parallax-ios == true {
      -webkit-overflow-scrolling: touch;
    }
    // Preserve 3D
    &, * {
      transform-style: preserve-3d;
    }
  }
}

@mixin parallax(
  $distance    : 0,
  $perspective : $parallax-perspective,
  $translateX  : 0
  ) {
  transform:
    translateZ($distance * $perspective * 1px)
    translateX($translateX)
    scale(abs($distance - 1));
  //z-index: $distance * 1000;
}

// End of magic parallax mixins
// End of magic parallax mixins
// End of magic parallax mixins
// End of magic parallax mixins


@include parallax-init;



$font-stack:    'Roboto', sans-serif;
$font-accent:   'Roboto Condensed', sans-serif;
$text-color:    #b3b3b3;

$background-color:  #000000;
$test-color-1:  #ecbbbb;

$z-tier4: 100;
$z-tier3: 15;
$z-tier2: 10;
$z-tier1: 5;
$z-tier0: 0;

$h1-size: 5em;      /* gallery title */
$h2-size: 2.5em;      /* card title */
$h3-size: 2em;     /* gallery support text */
$h4-size: 1em;     /* card support text */
$p-size:  1.2em;

$duration-text: .8s;
$duration-image: .7s;
$bezier: cubic-bezier(0.5, 0.2, 0.15, 1);
//$bezier: ease-out;

body {
    height: auto;
    width: 100vw;
    margin: 0;

    font-family:    $font-stack;
    
    color:          $text-color;
    background:     $background-color;
}

// font: font-style font-variant font-weight $h2-size/line-height font-family;
h1 {
    font-size: $h1-size;
    font-weight: 400;
    color: white;
    margin:0;

    position: absolute;
    left: 10vw;
    top: 30vh;
}
h2 {
    font-size: $h2-size;
    margin:0;
}
h3 {
    z-index: $z-tier0;
    font-size: 2em;
    font-family: $font-accent;
    font-weight: 700;
    letter-spacing: .15em;
    font-variant: all-small-caps;
    margin: 1em;
    
    //position: absolute;
    left: 77vw;
    top: 10vh;

    transition: all 1s;
}
h4 {
    font-size: $h4-size;
    font-family: $font-accent;
    font-weight: 400;
    letter-spacing: .25em;
    margin: 0;

    position: absolute;
    left: 45vw;
    top: 50vh;
}
h5 {
    font-size: #{$h4-size - 0.2};
    font-family: $font-accent;
    font-weight: 400;
    letter-spacing: .15em;
    margin: 0;
    text-transform: uppercase;
}
p {
    font-size: $p-size;
    font-weight: 300;
    margin:0;

    line-height: 1.35em;   
}

a {
    color: rgb(125, 190, 255);
    font-size: #{$h4-size - 0.3};
    font-family: $font-accent;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: none;
}
a:visited {
  color: rgb(90, 90, 90);
}

.galleryNav {
    position: absolute;
    left: 76vw;
    top: 10vh;

    svg {
        z-index: $z-tier4;

        position: relative;
        top: -4.5em;
        margin-top: 0;
        width: 12em;
        height: 3em;
        overflow: visible;

        rect {
            width: inherit;
            height: inherit;

            fill: rgba(255, 255, 255, 0);
            stroke: $text-color;

            stroke-width: 0;
            stroke-dasharray: 8em;
            stroke-dashoffset: 0;

            transition: all 1s $bezier;    
            
            &:hover {
                stroke-dasharray: 30em;
                stroke-width:.2em
            }
        }
    }
}


/* SCROLLING CONTENT */
/* SCROLLING CONTENT */
/* SCROLLING CONTENT */
/* SCROLLING CONTENT */

$duration-page: 1s;

.contentScroll {
    position: absolute;
    //top: 75vh;
    //left: 20vw;
    // compensate for parallax
    top: 162.5vh;
    left: 25vw;

    background-color: white;

    width: 80vw;
    height: 300vh;

    box-shadow: 0 0 10em 8em black;

   @include parallax(-.5);
}
.contentScrollPost {
        //transform:  translate3d(0vw, 0px, 0px) !important; //scaleX(10)
        //opacity: 0 !important;

        transition: transform #{$duration-page / 2} cubic-bezier(1,-0.01, 1, 1) 300ms,
                    filter #{$duration-page + 3} ease,
                    opacity #{$duration-page / 1} ease 500ms;
}


.card {
    //@include parallax(0);
}
.flexText {
    @include parallax(-.3);
}
img,video {
    @include parallax(-.2);
}
h1 {
    @include parallax(-1);
}
h4 {
    @include parallax(-.85);
}



/* CARD LAYOUT */
/* CARD LAYOUT */
/* CARD LAYOUT */
/* CARD LAYOUT */

.flexContainer {
    position: absolute;
    top: 80vh;

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
}

.card {
    z-index: 1;

    width: 100vw;
    height: auto;
    margin: 5em 0;
    align-self: center;

    overflow: hidden;
    //box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    h2 {

    }
    p {

    }
    img,video {
        //width:100vw;
        //flex-grow: 1;
        object-fit: contain;
        margin: 0 auto;
        width: inherit;
    }
}

.flexTwo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: inherit;

    img,video {
        //max-height: 29vw;
        width: auto;
        margin: 1em;
    }
}

.flexText {
    display: flex;
    flex-direction: column;

    max-width: 35em;
    padding: 10em 1em;
    margin: 0 auto;

    text-align: center;
}

.inactiveInitial {
    //transform-style:preserve-3d;
    transition: all 1s;
    opacity: 0;
    //@include parallax(-.5);
}




/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */

.section-2 {
    z-index: $z-tier1;
    order: 2;

    width: 42vw;
    height: auto;
    align-self: center;
    margin-top: 12em;
    text-align: center;

    h4 {
        perspective: none;
        position: relative;

        width: 100%;
        top: 0 !important;
        left: 0 !important;
    }
}

.mediaLinks {
    display: flex;
    justify-content: space-between;

    margin: 0;
	width: 100%;
	height: 10em;

    p {
        font-weight: bold;
        cursor: pointer;
    }
    div {
        perspective: none;
        height: auto;
        width: auto;
        transition: transform .4s cubic-bezier(0, 1, 0.35, 1.5);
    }
    div:hover {
         transform: rotate3d(0.5, 1, 0, .015deg);
    }
}






/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */


@media only screen 
  // and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    $img-height: 75vh; 

    * {
        //overflow: visible;
    }
        body{
            flex-direction: column;
            background:     $background-color;
        }

        h1 {
            font-size: #{$h1-size - 2};
            left: -2vw;
            top: -8vh;
        }
        h2 {
            font-size: #{$h2-size - 1};
            margin:0;
        }
        h3 {        
            //position: absolute;
            font-size: 1.75em;
            left: 77vw;
            top: 10vh;

            transition: all 1s;
        }
        h4 {
            font-size: $h4-size;

            position: absolute;
            left: -6vw;
            top: -10vh;
        }
        h5 {
            font-size: #{$h4-size - 0.2};
        }
        p {
            font-size: $p-size;
        }

        .galleryNav {
            left: 0vw;
            top: -1vh;
        }

        .flexContainer {
            top: 30vh;
        }
        .card {

            img {
                max-height: fit-content !important;
                width: 100vw !important;
            }
        }
        .flexText {
            padding: 2em 1em;
        }

        .flexTwo {
            display: flex;
            //flex-wrap: wrap;
            //justify-content: space-between;
            height: 100vh;
            width: inherit;

            img,video {
                //max-height: 29vw;
                //width: 100vw;
                margin: 0 0;
            }
        }

        .section-2 {
            width: 85vw;
        }
    }

/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */
/* PORTRAIT QUERY */