* {
    overflow-y: scroll;
    overflow-x: hidden;
}

body, button {
    font-family: 'Playfair Display', serif;
    font-size: 1em;

    color: whitesmoke;

    margin: 0;
}

hr {
    margin: 0;
    padding: 0;
    border: .5px solid whitesmoke;
}

.framingText{
    z-index: 1;
}

#hamburger {
    margin: 38vh -9vw;
    height: 1.5em;
    width: 25em;
    transform: rotate(-90deg);

    display: flex;
    align-items: center;
    position: absolute;

    letter-spacing: .5em;
}

#hamburger hr {
    margin: 2em;
}
#hamburger .left {
    float: left;
    width: 8%;
}

#hamburger .right {
    float: right;
    width: 33%;
}

/* 
#hamburger::before, #hamburger::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    margin: 0px 1em;
}
*/

.nameBar {
    margin: 0;
    padding: 0;
    letter-spacing: .5em;

    display: flex;
    align-items: center;
    position: absolute;

    top: 5vh;
    left: 7vw;
    font-size: 100%;
    width: 80vw;

    transition: top .2s ease;
}

.nameBar hr {
    margin: 2em;
}
.nameBar .left {
    float: left;
    width: 6%;
}

.nameBar .right {
    float: right;
    width: 58%;
}

#colorBar {
    z-index: 2; 
    margin: 0px 67vw;
    position: absolute;

    width: 33%;
    height: 3vh;

    background-color: #cecece;
    border:none;
    outline: none;

    transition: height .5s ease;
}

#colorBar2 {
    z-index: 2; 
    top: 97vh;
    margin-left: 67vw;
    position: absolute; 

    width: 33%;
    height: 3vh;

    background-color: #cecece;
    border: none;
    outline: none;

    transition: height .5s ease, top .5s ease;
}

#menuWrapper {
    position: absolute;
    margin: 10vh 4vw;

    font-size: 90%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    width: 75%;
    height: 50vh;

    overflow: visible;
}

.menuOption, .subMenuOption {
    flex-shrink: 1;
    padding: 1vw;
    margin: 0;
    width: 87.5%;

    text-align: center;

    font-size: 100%;
    text-decoration: none;
    color: white;

    transition: font-size .3s ease, padding .3s ease;
}

.subMenuOption {
    width: 63%;
    text-align: left;
}

.menuOption:hover, .subMenuOption:hover {
    flex-grow: 1;
    flex-shrink: 1;
    padding:1.5vw;

    background: rgba(128, 128, 128, 0.199);

    font-size: 120%;

}

#aboutWrapper {
    color: white; 

    position: absolute;
    margin: 0 auto;

    top: 3vh;
    left: 4vw;

    text-align: left;
    font-size: 90%;
}

.aboutName {
    margin: 0;
    padding-bottom: 2vh;

    letter-spacing: .6em;
    margin-top: 2vh;

    font-size: 100%;
}

.aboutLine {
    position: absolute;
    top: 6.5vh;
    left: 22vw;

    width: 85vw;

    border-color: white;
}

.aboutTitle {
    padding: 0;
    margin: 2vw 0 2vw 0;

    letter-spacing: .4em;

}

ul {
    list-style-type: none;
    line-height: 2em;

    margin: 0 4vh 4vh;
    padding: 0;
}

.skills {
    display: flex;
    width: 150%;
}

.mediaWrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 20vh;

    overflow: hidden;
}

.mediaLine {
    position: relative;
    margin: 0;

    border: .5px solid white;
    opacity: .5;

    width: 100%;
}

.subMediaLine {
    position: relative;
    margin: 0;

    border: .5px solid white;
    opacity: .5;

    width: 75%;
}

.mediaLink {
    flex-shrink: 1;
    padding: 1vw;

    text-align:center;

    font-size: 100%;
    text-decoration: none;
    color: white;

    transition: all .3s ease;
}

.mediaLink:hover {
    flex-grow: 1;
    flex-shrink: 1;
    padding:1.5vw;

    background: rgba(128, 128, 128, 0.199);

    font-size: 120%;

}

#viewport {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: url("Graphics/body_mantle_cover.jpg") center/cover no-repeat fixed;      
    /*background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.galleryContent {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(8,8,8,.75) 90%, rgba(255,255,255,0.25) 100%); 
    background-attachment: scroll;
    background-repeat: no-repeat;

    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 0;

    /* height: 68vh; */
    height: 1200vh;
    width: 800vw;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;

    transition: top .2s ease, left .2s ease;
}

.gallerySlider {
    height: auto;
}

#gallerySlider1 {
    grid-column: 1;
}
#gallerySlider2 {
    grid-column: 2;
}
#gallerySlider3 {
    grid-column: 3;
}
#gallerySlider4 {
    grid-column: 4;
}
#gallerySlider5 {
    grid-column: 5;
}
#gallerySlider6 {
    grid-column: 6;
}
#gallerySlider7 {
    grid-column: 7;
}
#gallerySlider8 {
    grid-column: 8;
}

.navContent {
    position: relative;
    
    left: 0;
    height: 68vh;
    width: 3vw;
    overflow: visible;

    transition: top .4s ease, left .4s ease;
}

#circleContainer {
    position: relative;
    left: 0;

    height: 68vh;
    width: 3.4em;         

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.circle {
    margin: 0 auto;

	width: 2em;
	height: 2em;
    
    background-color: #cecece;
    border:none;
    border-radius: 50px;
    outline: none;

    transition: transform .4s ease;
}

.circle:hover {
    transform: scale(1.15);
}

#expandButton {
    position: absolute;
    margin: 0 0;
    top: 80vh;
    left: 57vw;

	width: 4em;
    border:none;
    outline: none;

    transition: transform .4s ease;
}

#expandButton:hover {
    transform: scale(1.3);
}

#scrollContent {
    top: 32em;
    position: relative;
    overflow: visible;
    width: 73%;
    margin: 0 auto;
}

.colTitle {
    width: 29.1em;
    top: 0;
    left: 0;
    position: relative;
    color: white;
    overflow: visible;
}

.colProcess {
    width: 100%;
    position: relative;
    top: 5em;

    overflow: scroll;
}

.title {
    font-size: 200%;
    font-style: italic;
    margin: 0 0 1em;
}

.line {
    position: relative;
    width: 150%;
    left: -2em;
    top: -1.3em;
}

.description {
    position: relative;
    margin-top: -1.5vh;
    width: 30em;

    line-height: 190%
}

.processDescription {
    position: relative;
    margin-top: -1.5vh;
    width: 35em;

    line-height: 190%
}

.titleFigure {
    object-fit: cover;

    border: none;

    width: 100vw;
    position: relative;
    top: 0em;

    transition: filter 1s ease;    
}

.figureProcess {
    margin: 2em 0;
    position: relative;
    object-fit: fill;

}

.figurePatch {
    width: 100%;
    margin: 0;
}

#figure1 {
    width: 30em;
    top: -2em;
}
#figure2 {
    height: 30em;
    top: -54em;
    left: 39em;
}

#posterFlexContainer {
    display: flex;
    flex-direction: column;
    height: 121em;
    width: 100%;
}
#posterFlex {
    display: flex;
    height: 32.5em;
}
.posterSubFlex {
    object-fit: cover;

    margin: 0 2em 0 0;
    height: 30em;
}

#process3DGrid {
    width: 56.5em;

    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: repeat(24, 4%);

    margin: 0;
}
.processText3D {
    position: relative;
    top: 6em;
    height: 2em;
    margin: 0;
}
.process3D {
    width: 30em;
    margin-top: 1em;
}

.photoDescription {
    position: relative;
    width: 35em;

    line-height: 190%
}

.dropdownHeader {
    display: flex;
    width: 100%;
}
.plusLines {
    top: 1.7em;
    left: 1em;
    position: relative;

    transition: all .2s ease;
}
.plusLines:hover {
    transform: rotate(90deg);
}
.plusLinesJSActivated {
    transform: rotate(45deg);
}
.plusLinesJSActivated:hover {
    transform: rotate(135deg);
}
line {
    stroke:rgba(255, 255, 255, 0.75);
    stroke-width:2;
}
.photoLine {
    width: 30em;
    transition: width .5s ease;
}
.photoLineJSActivated {
    width: 100%;
}
.dropdownContent {
    width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    height: 0;
    transition: all .5s ease;
}
.slideshow {
    display: flex;
    width: 500%;
    position: relative;
    top: -34em;

    transition: all .5s ease;
}
.processPhoto {
    width: 100%;
    object-fit: cover;
    margin: 0;
}


/* width */
::-webkit-scrollbar {
    width: .5vw;
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0; 
    display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(226, 53, 94);
    display: none;
}

/* Handle on hover*/
::-webkit-scrollbar-thumb:hover {
    background: rgb(192, 45, 79);
    display: none;
}

 @media only screen and (max-width: 600px) {
    body {
        font-size: 70%;
     }
    .galleryContent {
        width: 237vw;
        transform: translateZ(-1px);
    }
    #colorBar, #colorBar2 {
        width: 100vw;
    }
    #colorBar2 {
        left:-68.5vw;
    }
    .nameLine, .aboutLine {
        width: 0;
    }
    #circleButton {
        margin: 0 55vw;
        top: 27.5vh;
        width: 2em;
        height: 2em;
    }
    #circleContainer {
        left: 72.8vw;
    }
    .nameBar {
        top: 4.5em;
    }
    #hamburger {
        margin: 4em 89vw;
    }
}