* {
     overflow: hidden; 
}

html {
    overflow: auto;
}

body, button {
    font-family: 'Playfair Display', serif;
    font-size: 1vw;

    color: grey;

    margin: 0;
}

hr {
    margin: 0;
    padding: 0;
    border: .5px solid lightgrey;
}

#colorBar {
    z-index: 2; 
    margin: 0;

    position: absolute;

    width: 31.5vw;
    height: 3vh;

    background-color: rgb(226, 53, 94);
    border:none;
    outline: none;

    transition: all .5s ease;
}

#colorBar2 {
    z-index: 2; 
    top:97vh;
    margin-left: 68.5vw;

    position: absolute;

    width: 31.5vw;
    height: 3vh;

    background-color: rgb(226, 53, 94);
    border:none;
    outline: none;

    transition: all .5s ease;
}

#aboutWrapper {
    color: white; 

    position: absolute;
    margin: 0 auto;

    top: 3vh;
    left: 4vw;

    text-align: left;
    font-size: 75%;
}

.aboutName {
    margin: 0;
    padding-bottom: 2vh;

    letter-spacing: .6vw;
    margin-top: 2vh;

    font-size: 16px;
}

.aboutLine {
    position: absolute;
    top: 6.5vh;
    left: 22vw;

    width: 85vw;

    border-color: white;
}

.aboutTitle {
    padding: 0;
    margin: 2vw 0 2vw 0;

    letter-spacing: .4vw;

}

ul {
    list-style-type: none;
    line-height: 2vw;

    margin: 0 4vh 4vh;
    padding: 0;
}

.skills {
    display: flex;
    width: 150%;
}

.mediaWrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 20vh;

    overflow: hidden;
}

.mediaLine {
    position: relative;
    margin: 0;

    border: .5px solid white;
    opacity: .5;

    width: 100%;
}

.mediaLink {
    flex-shrink: 1;
    padding: 1vw;

    text-align:center;

    font-size: 100%;
    text-decoration: none;
    color: white;

    transition: all .3s ease;
}

.mediaLink:hover {
    flex-grow: 1;
    flex-shrink: 1;
    padding:1.5vw;

    background: rgba(128, 128, 128, 0.199);

    font-size: 120%;

}

.nameBar {
    margin: 0;
    padding: 0;

    letter-spacing: .6vw;

    position: absolute;
    top: 5vh;
    left: 12.5vw;

    font-size: 1em;
}

.nameLine {
    position: absolute;
    top: 6.5vh;
    left: 29vw;

    width: 57vw;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -3vh;
    z-index: -1;

    width: 100vw;
    height: 100vh;
}

.galleryViewport {
    margin: 0 auto;

    height: 68vh;
    width: 85vw;


    display: grid;
    grid-template-columns: 32% 4% 32% 32%;
    

    background-color: rgb(223, 223, 223); 

    position: absolute;

}

.galleryContent {
    position: absolute;
    margin: 0 auto;
    left: 0;

    height: 68vh;
    width: 125vw;

    display: grid;
    grid-template-columns: 32% 4% 32% 32%; 

    transition: left .8s ease;
}

.column {
     margin: 0 auto;
     height: 68vh;
}

.colTitle {
    width:75%;
}

.colProcess {
    width:75%;
    padding: 0 5vw;

    overflow: scroll;
}

.colCircMenu {
    grid-column: 2 / 3;
}

.colFigure {
    height: 100%;
    width: 100%;
}

.title {
    font-size: 200%;
    font-style: italic;

    margin-top: 27vh;
}

.description {
    position: relative;
    margin-top: -1.5vh;

    line-height: 190%
}

.circleContainer{
    height: 100%;
    width: 100%;         

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.circle {
    margin: 0 auto;

	width: 2vw;
	height: 2vw;
    background: rgba(226, 53, 94);
    
    border-radius: 50px;
}

#figure1 {
    object-fit: cover;
    filter: grayscale(100%);

    border: none;

    height:100%;
    width: 100%;

    transition: filter 1s ease;    
}

.figureProcess {
    object-fit: cover;
    height:100%;
    width: 100%;
}

#circleButton {
    position: absolute;
    margin: 0 48vw;
    top:25vh;

	width: 4vw;
	height: 4vw;
    background: rgba(226, 53, 94);
    border-radius: 50px;
    border:none;
    outline: none;

    transition: transform .4s ease;
}

#circleButton:hover {
    transform: scale(1.1);
}

::-webkit-scrollbar {
    width: 20px;
}

/* width */
::-webkit-scrollbar {
    width: .5vw;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(226, 53, 94);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(192, 45, 79)
}